<div class="bottom-menu bottom-menu-inverse">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-2">
                <a href="#fakelink" class="bottom-menu-brand">mailadm</a>
            </div>
            <div class="col-md-8 col-sm-8">
                <ul class="bottom-menu-list">
                    <li><a href="#fakelink">About Us</a></li>
                    <li><a href="#fakelink">Store</a></li>
                    <li class="active"><a href="#fakelink">Jobs</a></li>
                    <li><a href="#fakelink">Privacy</a></li>
                    <li><a href="#fakelink">Terms</a></li>
                    <li><a href="#fakelink">Follow Us</a></li>
                    <li><a href="#fakelink">Support</a></li>
                    <li><a href="#fakelink">Links</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-2">
                <ul class="bottom-menu-iconic-list">
                    <li>
                        <a href="#fakelink" class="fui-pinterest"></a>
                    </li>
                    <li>
                        <a href="#fakelink" class="fui-facebook"></a>
                    </li>
                    <li>
                        <a href="#fakelink" class="fui-twitter"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>